pytest>=3.6
pytest-cov==2.4.0
coveralls[yaml]==1.6.0
pytest-xdist==1.18.1
py-evm==0.2.0a42
eth-tester==0.1.0b39
eth-abi==2.0.0b9
web3==5.0.0b2
tox>=3.7,<4
hypothesis==4.11.7
pycryptodome==3.8.2
vyper==0.2.16